body {
  margin: 0; /* Remove default margin to prevent inconsistencies */
  padding: 0;
  /* margin-right: 100px; */

  font-family: Roboto;
}

.home {
  padding-top: 55px; /* Adjusted padding to match the navbar height */
  font-family: Roboto;
  position: relative;
  z-index: 1;
}

.intro  {
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-top: 0px;

  background-image: url("../images/homePageImage.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);

}

.intro h1 {
  width: 400px;

  margin-top: 50px;
  margin-left: 700px;
  margin-bottom: 0px;

  padding: 10px;

  color: aliceblue;
  font-family: Roboto;
  font-size: 70px;

  text-shadow: 2px 2px #1a0707;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);

}

.intro p{
  width: 500px;

  text-align: center;
  font-size: 50px;
  font-weight: 300;
  color: aliceblue;

  margin-top: 50px;
  cursor: text;

  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
}

.intro button {

  margin-left: 50px;
  margin-bottom: 40px;
  padding: 18px;
  border: none;
  border-radius: 10px;
  background-color: blueviolet;
}

.navigate {
  height: 100px;
  margin: 5px 10px 5px 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-top: 30px;

}
.item {
  background-color: white;
  margin: 20px;
  padding: 20px 30px 20px 30px;


  border: 1px solid #e5e5e5dc;
  border-radius: 10px;

  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);

  display: grid;
  grid-template-columns: 50px 1fr;

  cursor: pointer;

  transition: margin 0.05s, box-shadow 0.05s, padding 0.5s;
}
.item:hover {
  margin: 20px;
  padding: 23px 33px 23px 33px;
}

.item:active  {
  margin-left: 29px;
  margin-top: 29px;

  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);

}

.item img {
  width: 30px;
  text-decoration: none;
}

.icon {
  margin-right: 0px;
}

.msg  {
  display: flex;
  flex-direction: column;
}

.no-underline  {
  text-decoration: none;

}

.msg div{
  margin-bottom: 10px;
  margin-left: 10px;


  text-align: left;

  font-size: 20px;
  font-weight: 400;
}

/* .item:hover .msg div{
  font-size: 20px;
}  */

.msg p  {
  margin: 0px;
  margin-bottom: 10px;
  margin-left: 10px;

  text-align: left;

  font-size: 16px;
  font-weight: 100;
  color: rgb(90, 90, 90);
}

/* .item:hover .msg p{
  font-size: 16px;
}  */

.why-us {
  background-color: white;

  margin: 50px 145px 20px 145px;
  padding: 20px 25px 20px 25px;
  border-radius: 20px;

  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);

  display: grid;
  grid-template-rows: 30px 1fr;
}

.question {
  font-size: 25px;
  font-weight: 700;

}

.answer {

  display: flex;
  justify-content: space-between;

  align-items: center;  

  margin: 0px;
  margin-top: 10px;
  margin-right: 40px;
  margin-left: 0px;
}

.why-us-item {
  display: grid;
  grid-template-columns: 40px 1fr;
  
  margin: 10px 20px 10px 0px;

}

.logo{
  width: 40px;
  margin-right: 10px;
  padding: 10px 0px 10px 0px;

  text-align: left;
}
.logo img {
  width: 50px;
}

.explanation  {
  margin-left: 5px;
  padding: 10px 20px 10px 10px;
}

.headingHome  {
  margin-bottom: 10px;
  text-align: left;
  font-weight: 500;
}

.sub-head  {
  margin-bottom: 10px;

  color: rgb(99, 98, 98);
}